.divisor {
  margin-top: 30px;
  width: 144px;
  height: 52px;
}

.divisorGray {
  margin-top: 30px;
}

.logoAdmin {
  width: 450px;
  height: 250px;
}

.logoSchedules {
  width: 230px;
  height: 125px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.calendar{
  width: 40px;
  height: 40px;
}

.logoEstablishment{
  width: 230px;
  height: 125px;
  margin-top: 30px;
}